{% extends "ex01/templates/base.html" %}


{% block title %}Ex01: Django, framework web.{% endblock %}


{% block styles %}
<style>
	body {
		background-color: #f8f8f8;
		color: #333;
		margin: 0;
		padding: 0;
		font-family: Helvetica, Arial, sans-serif;
	}

	main {
		margin-top: 20px;
		margin-bottom: 75px;
		text-align: justify;
		width: 75vw;
		margin: auto;
	}
</style>
{% endblock %}


{% block content %}
<p>Django was created in the autumn of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian
	Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's
	development shortly before Simon Willison's internship ended. It was released publicly under a BSD license in July
	2005. The framework was named after guitarist Django Reinhardt.</p>
{% endblock %}

<body>

</body>

</html>