{% extends 'd06/templates/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
{% if action == "Default" %}
    <nav class="nav-link-container" role="navigation">
        {% if is_logged_in %}
        <div class="nav-link">
            <a href="/logout/">Logout</a>
        </div>
        {% else %}
        <div class="nav-link">
            <a href="/register/">Register</a>
        </div>
        <div class="nav-link">
            <a href="/login/">Login</a>
        </div>
        {% endif %}
    </nav>
{% else %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" value="{{ username|default:'' }}" required>
        <input type="password" name="password" placeholder="Password" required>
        {% if action == "Register" %}
            <input type="password" name="password_confirm" placeholder="Confirm Password" required>
        {% endif %}
        <button type="submit">{{ action }}</button>
        {% if message %}
        <p class="error">{{ message }}</p>
        {% endif %}
    </form>
    <div class="nav-link-container">
        <div class="nav-link">
            <a href="/">Return to Home</a>
        </div>
    </div>
{% endif %}
{% endblock %}