{% extends 'd06/templates/base.html' %}

{% block parent_nav %}
	<a href="/" class="site-parent" title="Return to parent page" aria-label="Return to parent page">Return</a>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="message">
        {{ message }}
    </div>
    {% if session_total_seconds is -1 %}
    <div class="message">
        <p>Session never expires</p>
    </div>
    {% elif session_remaining_seconds is not None %}
    <div class="message">
        <p>Session expires in {{ session_remaining_seconds }} seconds</p>
    </div>
    {% elif session_total_seconds is not None %}
    <div class="message">
        <p>Session expires in {{ session_total_seconds }} seconds</p>
    </div>
    {% endif %}
{% endblock %}
