{% extends 'd08/templates/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_heading %}{{ title }} <small>Access your account</small>{% endblock %}

{% block javascript %}
<script>
    (function () {
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        function clearFieldError($input) {
            $input.next("span.help-block").remove();
            $input.closest(".form-group").removeClass("has-error");
        }

        function showFieldError($input, message) {
            clearFieldError($input);
            $input.closest(".form-group").addClass("has-error");
            $input.after("<span class='help-block'>" + message + "</span>");
        }

        function submitForm(onError) {
            $("form").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr("action") || window.location.pathname,
                    data: $(this).serialize(),
                    dataType: "json",
                    headers: { "X-Requested-With": "XMLHttpRequest" },
                    success: function (data) {
                        window.location.href = data.redirect;
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && onError) {
                            onError(xhr.responseJSON);
                        }
                    }
                });
            });
        }

        function initRegisterFlow() {
            var registerCheckTimeout;
            var usernameIsTaken = false;
            var $username = $("#id_username");
            var $password = $("#id_password");
            var $passwordConfirm = $("#id_password_confirm");
            var $submitButton = $("#submit-button");

            function updateSubmitButtonState() {
                var username = $username.val().trim();
                var password = $password.val();
                var passwordConfirm = $passwordConfirm.val();
                var passwordsMatch = password && passwordConfirm && password === passwordConfirm;
                var canSubmit = !!username && !!password && !!passwordConfirm && passwordsMatch && !usernameIsTaken;
                $submitButton.prop("disabled", !canSubmit);
            }

            $username.on("input", function () {
                clearTimeout(registerCheckTimeout);
                registerCheckTimeout = setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'check_register' %}",
                        data: {
                            csrfmiddlewaretoken: csrfToken,
                            username: $username.val()
                        },
                        dataType: "json",
                        success: function (data) {
                            usernameIsTaken = data.username_is_taken;
                            if (usernameIsTaken) {
                                showFieldError($username, "Username is already taken");
                            } else {
                                clearFieldError($username);
                            }
                            updateSubmitButtonState();
                        }
                    });
                }, 300);
            });

            $password.add($passwordConfirm).on("input", function () {
                var password = $password.val();
                var passwordConfirm = $passwordConfirm.val();
                if (password && passwordConfirm && password !== passwordConfirm) {
                    showFieldError($passwordConfirm, "Passwords do not match");
                } else {
                    clearFieldError($passwordConfirm);
                }
                updateSubmitButtonState();
            });

            submitForm(function (data) {
                if (!data.errors) {
                    return;
                }
                $.each(data.errors, function (field, messages) {
                    showFieldError($("#id_" + field), messages.join(" "));
                });
            });

            updateSubmitButtonState();
        }

        function initLoginFlow() {
            var $username = $("#id_username");
            var $password = $("#id_password");

            submitForm(function (data) {
                var hasUsernameError = data.username_does_not_exist;
                var hasPasswordError = data.invalid_password && !hasUsernameError;

                if (hasUsernameError) {
                    showFieldError($username, "Username does not exist");
                } else {
                    clearFieldError($username);
                }

                if (hasPasswordError) {
                    showFieldError($password, "Invalid password");
                } else {
                    clearFieldError($password);
                }
            });
        }

        if ($("#id_password_confirm").length) {
            initRegisterFlow();
        } else {
            initLoginFlow();
        }
    })();
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ action }}</strong>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% if action == "Register" %}
                    <div class="form-group{% if form.password_confirm.errors %} has-error{% endif %}">
                        <label for="{{ form.password_confirm.id_for_label }}">Confirm password</label>
                        {{ form.password_confirm }}
                        {% for error in form.password_confirm.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if message %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                    <div class="clearfix">
                        <button type="submit" id="submit-button" class="btn btn-primary pull-right">{{ action }}</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                {% if action == "Login" %}
                <a href="{% url 'register' %}">Switch to Register</a>
                {% elif action == "Register" %}
                <a href="{% url 'login' %}">Switch to Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}