{% extends 'd05/templates/base.html' %}

{% block content %}

{% if messages %}
<div class="message-container">
	{% for message in messages %}
	<p class="message {% if message == 'No data available' %}message{% else %}message-error{% endif %}">{{ message }}
	</p>
	{% endfor %}
</div>
{% else %}
<button class="skip-button">Skip intro</button>

<div class="intro-text">
	A long time ago in a galaxy far,<br>
	far away....
</div>

<div class="logo-container">
	<img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Star_Wars_Yellow_Logo.svg" alt="Star Wars Logo"
		class="sw-logo">
</div>

<div class="crawl-container">
	<div class="crawl-content">
		<div class="table-wrapper">
			<table class="star-wars-table {% if table_name == 'ex06_movies' %}with-timestamps{% endif %}">
				<thead>
					<tr>
						<th>Episode</th>
						<th>Title</th>
						<th>Director</th>
						<th>Producer</th>
						<th>Release Date</th>
						<th>Opening Crawl</th>
						{% if table_name == "ex06_movies" %}
							<th>Created</th>
							<th>Updated</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for row in rows %}
					<tr>
						<td>{{ row.0 }}</td>
						<td>{{ row.1 }}</td>
						<td>{{ row.2 }}</td>
						<td>{{ row.3|safe }}</td>
						<td>{{ row.4 }}</td>
						<td>{% if row.5 %}{{ row.5|linebreaksbr }}{% else %}{% endif %}
						</td>
						{% if table_name == "ex06_movies" %}
							<td>{{ row.6 }}</td>
							<td>{{ row.7 }}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	const skipButton = document.querySelector('.skip-button');
	skipButton.addEventListener('click', function () {
		document.querySelector('.intro-text').style.display = 'none';
		document.querySelector('.logo-container').style.display = 'none';
		document.querySelector('.crawl-container').style.animation = 'none';
		document.querySelector('.crawl-container').style.opacity = '1';
		document.querySelector('.crawl-container').style.transform = 'translateX(-50%) translateY(0)';
		skipButton.remove();
	});
	setTimeout(() => {
		skipButton.remove();
	}, 14000);
</script>
{% endif %}
{% endblock %}