{% extends 'd05/templates/base.html' %}

{% block content %}

<div class="hub-container">
	<div class="hub-grid">
		<div class="exercise-group">
			<div class="exercise-header">
				<h3 class="exercise-number">ex00</h3>
				<h2 class="exercise-title">SQL - Building a Table</h2>
			</div>
			<div class="exercise-content">
				<a href="/ex00/init/" class="hub-button">init</a>
			</div>
		</div>

		<div class="exercise-group">
			<div class="exercise-header">
				<h3 class="exercise-number">ex02</h3>
				<h2 class="exercise-title">SQL - Data Insertion</h2>
			</div>
			<div class="exercise-content">
				<a href="/ex02/init/" class="hub-button">init</a>
				<a href="/ex02/populate/" class="hub-button">populate</a>
				<a href="/ex02/display/" class="hub-button">display</a>
			</div>
		</div>

		<div class="exercise-group">
			<div class="exercise-header">
				<h3 class="exercise-number">ex03</h3>
				<h2 class="exercise-title">ORM - Data Insertion</h2>
			</div>
			<div class="exercise-content">
				<a href="/ex03/populate/" class="hub-button">populate</a>
				<a href="/ex03/display/" class="hub-button">display</a>
			</div>
		</div>

		<div class="exercise-group">
			<div class="exercise-header">
				<h3 class="exercise-number">ex04</h3>
				<h2 class="exercise-title">SQL - Data Deleting</h2>
			</div>
			<div class="exercise-content">
				<a href="/ex04/init/" class="hub-button">init</a>
				<a href="/ex04/populate/" class="hub-button">populate</a>
				<a href="/ex04/display/" class="hub-button">display</a>
				<a href="/ex04/remove/" class="hub-button">remove</a>
			</div>
		</div>

		<div class="exercise-group">
			<div class="exercise-header">
				<h3 class="exercise-number">ex05</h3>
				<h2 class="exercise-title">ORM - Deleting Data</h2>
			</div>
			<div class="exercise-content">
				<a href="/ex05/populate/" class="hub-button">populate</a>
				<a href="/ex05/display/" class="hub-button">display</a>
				<a href="/ex05/remove/" class="hub-button">remove</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}