{% extends 'd05/templates/form.html' %}

{% block content %}
{% if messages and "No data available" in messages %}
<div class="message-container">
	<p class="message">No data available</p>
</div>
{% else %}
<form method="post">
	{% csrf_token %}
	<select name="title" class="select-dropdown" onchange="this.form.method='get'; this.form.submit();">
		{% for title in titles %}
		<option value="{{ title }}" {% if title == request.GET.title or title == request.POST.title %}selected{% endif %}>{{ title }}</option>
		{% endfor %}
	</select>
	<textarea name="opening_crawl" placeholder="New opening crawl..." rows="10" cols="50"
		class="textarea-field">{{ opening_crawl }}</textarea>
	<button type="submit" onclick="this.form.method='post';" class="button">{{ label }}</button>
</form>

<div class="message-container">
	{% for msg in messages %}
	<p class="message {% if msg != 'OK' %}message-error{% endif %}">{{ msg }}</p>
	{% endfor %}
</div>
{% endif %}
{% endblock %}