{% extends 'd07/templates/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block page_heading %}{% trans "Articles" %} <small>{% trans "Share your writings" %}</small>{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "Writer" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "When" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr
                data-href="{% url 'article' article.pk %}"
                onclick="window.location=this.dataset.href;"
                onkeydown="if (event.key === 'Enter' || event.key === ' ') { event.preventDefault(); window.location=this.dataset.href; }"
                tabindex="0"
                style="cursor: pointer;"
            >
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis|truncatechars:20 }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.created|date:"M. j, Y, P" }}</td>
                <td>{% blocktrans with time_since=article.created|timesince %}{{ time_since }} ago{% endblocktrans %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-muted">{% trans "No articles yet." %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}