{% extends 'd07/templates/base.html' %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block page_heading %}{{ article.title }} <small>{% trans "Article details" %}</small>{% endblock %}

{% block content %}
<p>
    <a href="{% url 'articles' %}" class="btn btn-default btn-sm">{% trans "Back to articles" %}</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <strong>{{ article.author.username }}</strong>
        <span class="text-muted">{% blocktrans with created=article.created|date:"M. j, Y, P" %}posted on {{ created }}{% endblocktrans %}</span>
        {% if user.is_authenticated %}
        <form class="pull-right" method="post" action="{% url 'favorite' article.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info btn-xs">{% trans "Add to favorites" %}</button>
        </form>
        {% endif %}
    </div>
    <div class="panel-body">
        <p class="lead">{{ article.synopsis }}</p>
        {{ article.content|linebreaks }}
    </div>
</div>
{% endblock %}