<!DOCTYPE html>
<html>

<head>
	<title>{{ title }}</title>
	{% load static %}<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% block header %}{% endblock %}
</head>

<body>
	<div class="container">
		<header class="site-header">
			<a href="/" class="site-brand">Articles</a>
            {% if user.is_authenticated %}
                <p class="site-header-user">Welcome, {{ user.username }}.</p>
            {% endif %}
			<div class="site-header-end">
				{% block parent_nav %}{% endblock %}
			</div>
		</header>
		{% block content %}{% endblock %}
	</div>
</body>

</html>