{% extends 'd07/templates/base.html' %}

{% block header %}
{% endblock %}

{% block parent_nav %}
	<span class="site-parent-spacer" aria-hidden="true"></span>
{% endblock %}

{% block content %}
<nav class="nav-link-container" role="navigation">
    {% if not logged_in %}
    <div class="nav-link">
        <a href="/login/">Login</a>
    </div>
    {% else %}
    <div class="nav-link">
        <a href="/logout/">Logout</a>
    </div>
    {% endif %}
</nav>
<section class="article-list" aria-label="Articles list">
    {% for article in articles %}
    <article class="article-card">
            <span class="vote-arrow vote-arrow-disabled" aria-hidden="true">
                <svg viewBox="0 0 20 20">
                    <path
                        d="M10 19a3.966 3.966 0 01-3.96-3.962V10.98H2.838a1.731 1.731 0 01-1.605-1.073 1.734 1.734 0 01.377-1.895L9.364.254a.925.925 0 011.272 0l7.754 7.759c.498.499.646 1.242.376 1.894-.27.652-.9 1.073-1.605 1.073h-3.202v4.058A3.965 3.965 0 019.999 19H10zM2.989 9.179H7.84v5.731c0 1.13.81 2.163 1.934 2.278a2.163 2.163 0 002.386-2.15V9.179h4.851L10 2.163 2.989 9.179z">
                    </path>
                </svg>
            </span>
    </article>
    {% empty %}
    <p class="article-meta">No articles yet.</p>
    {% endfor %}
</section>
{% endblock %}