{% extends 'd07/templates/base.html' %}
{% load i18n %}

{% block title %}{{ publication.title }}{% endblock %}

{% block page_heading %}{{ publication.title }} <small>{% trans "Publication details" %}</small>{% endblock %}

{% block content %}
<p>
    <a href="{% url 'publications' %}" class="btn btn-default btn-sm">{% trans "Back to publications" %}</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{ user.username }}</strong>
        <span class="text-muted">{% blocktrans with created=publication.created|date:"M. j, Y, P" %}posted on {{ created }}{% endblocktrans %}</span>
    </div>
    <div class="panel-body">
        <p class="lead">{{ publication.synopsis }}</p>
        {{ publication.content|linebreaks }}
    </div>
</div>
{% endblock %}