{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Ex02: Form.</title>
		<link rel="stylesheet" href="{% static 'form.css' %}" />
	</head>

	<body>
		<form method="post">
			{% csrf_token %} {{ form }}
			<button type="submit">Submit</button>
		</form>
		{% if request.method == "GET" %}
		<ul class="log">
			{% for line in history %}
			<li>{{ line }}</li>
			{% endfor %}
		</ul>
		{% elif request.method == "POST" %}
		<ul class="log-move">
			{% for line in history %}
			<li>{{ line }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</body>
</html>
