{% extends 'd06/templates/base.html' %}

{% block content %}

<div class="hub-container">
	<div class="hub-grid">
		{% with exercises=exercises %}
			{% for ex in exercises %}
				<div class="exercise-group">
					<div class="exercise-header">
						<h3 class="exercise-number">{{ ex.name }}</h3>
						<h2 class="exercise-title">{{ ex.title }}</h2>
					</div>
					<div class="exercise-content">
						{% if ex.name == "ex10" %}
							<a href="/{{ ex.name }}/" class="hub-button">search</a>
						{% else %}
							{% for endpoint in ex.endpoints %}
								<a href="/{{ ex.name }}/{{ endpoint }}/" class="hub-button">{{ endpoint }}</a>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% endwith %}
	</div>
</div>
{% endblock %}