{% extends 'd06/templates/base.html' %}

{% block content %}

<div class="hub-container">
	<div class="hub-grid">
		{% with exercises=exercises %}
			{% for ex in exercises %}
				<div class="exercise-group">
					<div class="exercise-header">
						<h3 class="exercise-number">{{ ex.name }}</h3>
					</div>
					<div class="exercise-content">
						{% for endpoint in ex.endpoints %}
							<a href="/{{ ex.name }}/{{ endpoint }}/" class="hub-button-title">{{ ex.title }}</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		{% endwith %}
	</div>
</div>
{% endblock %}